/* Adicionar aqui toda a estilização criada para sua aplicação. */

body {
    margin: 0px;
    font-family: sans-serif;
}

:root {
    --azul: #32b9cd;
    --amarelo: #e3b062;
}

.header {
    background-color: black;
    border-bottom: 3px solid var(--azul);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.titulo {
    color: var(--azul);
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--amarelo);
    list-style: none;
    width: 300px;
}

.navbar a {
    color: var(--amarelo);
    text-decoration: none;
}

.agora {
    font-weight: 700;
}

.banner {
    height: 400px;
    width: 100%;
    background-image: url(../assets/imgs/bg-jelly-fish-para-home.png);
    background-size: cover;

}

.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p {
    width: 170px;
    margin: 0;
    color: white;
    font-size: 24px;
}

.banner .container span {
    font-weight: bolder;
}

.social {
    height: 400px;
    height: 100%;
    background-color: #dcdcdc;
}

.social .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img {
    width: 120px;
    height: 120px;
}

.box h4 {
    margin: 0;
    margin-top: 10px;
    color: #e40054;
}

.footer {
    height: 120px;
    width: 100%;
    background-color: var(--azul);
}

.footer .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.footer h4 {
    margin-bottom: 0;
}

h2,
span {
    color: #e40054;
    opacity: 50%;
    font-weight: bolder;
}

.card {
    background-color: silver;
    background-size: cover;
    width: 500px;
    height: 200px;
    border-radius: 10px;
}

.card-login {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.container .card-cadastro {
    background-color: silver;
    background-size: cover;
    width: 500px;
    height: 350px;
    border-radius: 10px;
}

.card-cadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.formulario {
    width: 80%;
}

.campo {
    display: flex;
    flex-direction: column;
}

#email_input {
    color: var(--azul);
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

#senha_input {
    color: var(--azul);
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

#codigo_input {
    color: var(--azul);
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

#nome_input {
    color: var(--azul);
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

#confirmacao_senha_input {
    color: var(--azul);
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
}

.botao {
    padding: 5px;
    color: white;
    background-color: #e40054;
    border-radius: 5px;
    border-style: none;
    text-align: center;
    width: 100px;
    margin: 2% auto;
    display: block;
}